@import '../../assets/scss/colors.scss';

.home-content {
  flex-grow: 1;
  &__first-line-video {
    
  }
  
  &__main {
    
  }
}

.first-line-video {
  
  &__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    &::before {
      content: '';
      display: block;
      background-image: url(../../assets/img/home-content-avatar.png);
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 149px;
    margin-top: 50px;
  }
  
  &__btn-wrapper {
    
  }
  
  &__link:first-child {
    margin-right: 10px;
  }
}

.main {
  
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 80vw;
    overflow-y: scroll;

   &::-webkit-scrollbar {
     height: 0;
   }
  }
  
  &__item {
    min-width: 250px;
    margin-right: 40px;
  }
  
  &__link {
    position: relative;
    text-decoration: none;
    
    &::after {
      content: '00:00';
      display: block;
      width: 47px;
      height: 24px;
      position: absolute;
      z-index: 1;
      bottom: 80%;
      right: 5%;
      background: #000000;
      mix-blend-mode: normal;
      opacity: 0.5;
      border-radius: 12px;
      text-align: center;
    }
  }
  
  &__img {
    border-radius: 14px;
  }
  
  .main__title {
    width: 180px;
    height: 100px !important;
    text-overflow: ellipsis;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    
  }
  
  &__video-info {
    
  }
  
  &__date {
    margin-right: 41px;
    color: $main-dark-white;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
  }
  
  &__author {
    color: $main-dark-white;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
  }
  
}

// ===============================================
// =============== second line videos ==============================
// ===============================================

.second-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
  &::before {
    display: none;
  }
}

.second-line-item {
  min-width: 540px;
  
} 

.second-line-link {
  
  &::after {
    content: '00:00';
    display: block;
    width: 47px;
    height: 24px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    right: 10%;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 12px;
    text-align: center;
  }
}

.second-line-img {
  min-width: 540px;
  margin-right: 41px;
  object-fit: contain;
}

// =======================================================
// =======================  third-line-videos  ====================
// =======================================================

.third-line-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
  
    &__small-text {
      margin-left: 19px;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #C2C2C2;
    }

    &::before {
      background-image: url(../../assets/img/channel-logo.png);
    }
}