/* @import './assets/scss/normalize.scss'; */
/* @import './assets/scss/colors.scss'; */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', 'Arial', serif;
  line-height: 1.5;
  height: 100%;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;clip: rect(0 0 0 0);
  overflow: hidden;
}